<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>VERANUM</span>
      <span class="spacer"></span>
      <nav>
        <a mat-button routerLink="/home">Inicio</a>
        <a mat-button routerLink="/hotels">Hoteles</a>
        <a mat-button routerLink="/services">Servicios</a>
        <a mat-button routerLink="/reservations">Reservas</a>
        <a mat-button routerLink="/offers">Ofertas</a>
        <a mat-button routerLink="/contact">Contacto</a>
        <a mat-button routerLink="/saved-reservations">Reservas Guardadas</a>
      </nav>
    </mat-toolbar-row>
  </mat-toolbar>
  